h1 {color: blue; margin-top: 75px;}

h2 {color: rgb(21, 148, 31); margin-top: 60px;
    margin-bottom: 50px;}

    body {font-family: 'Courier New', Courier, monospace;background-color: rgb(238, 240, 210);}

    .tow {width: 200px; padding-right: 60px;text-align: left; padding-bottom: 0;}

    .bow {width: 750px; text-align: left; padding-left: 100px; }

    h3 {color: darkgreen;}

    #old {border: 1px solid black;}

